<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title th:text="${sp.name}">詳細</title>
	    <link rel="stylesheet" th:href="@{/css/detail.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
	    <header>
	        <h1 th:text="${sp.name}">喫煙所名</h1>
	    </header>

	    <main>
	        <div class="info-card">
	            <p><strong>ID:</strong> <span th:text="${sp.id}"></span></p>
	            <p><strong>住所:</strong> <span th:text="${sp.address}"></span></p>
	            <p><strong>説明:</strong> <span th:text="${sp.description}"></span></p>
	            <p><strong>緯度:</strong> <span th:text="${sp.latitude}"></span></p>
	            <p><strong>経度:</strong> <span th:text="${sp.longitude}"></span></p>
	            <p><strong>営業時間:</strong>
	                <span th:text="${sp.openTime}"></span> 〜
	                <span th:text="${sp.closeTime}"></span>
	            </p>
	        </div>

	        <a th:href="@{/smoking-points}" class="btn-back">← 一覧に戻る</a>
	    </main>
	</body>

</html>